@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    text-align: center;
    font-family: 'Montserrat';
    background-image: url('/christmas-radio/bg.png');
    background-size: 200%;
}